<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 在tomcat下配置jndi需要加上此段 -->
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/wawagame</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<context-param>
		<param-name>defaultPath</param-name>
		<param-value>html</param-value>
	</context-param>
	<context-param>
		<param-name>inter</param-name>
		<param-value>-</param-value>
	</context-param>
	<context-param>
		<param-name>command</param-name>
		<param-value>_</param-value>
	</context-param>
	<context-param>
		<param-name>encode</param-name>
		<param-value>utf-8</param-value>
	</context-param>
	<context-param>
		<param-name>configFile</param-name>
		<param-value>config</param-value>
	</context-param>
	<servlet>
		<servlet-name>DefaultServlet</servlet-name>
		<servlet-class>com.choujone.servlet.DefaultServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<filter>
		<filter-name>EncodeServlet</filter-name>
		<filter-class>com.choujone.servlet.EncodeServlet</filter-class>
	</filter>
	<servlet-mapping>
		<servlet-name>DefaultServlet</servlet-name>
		<url-pattern>/web/*</url-pattern>
	</servlet-mapping>
	<filter-mapping>
		<filter-name>EncodeServlet</filter-name>
		<url-pattern>/web/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
