body {
	
}
.contentBox {
	position: absolute;
	margin-left: 40%;
	width: 200px;
	height: 100px;
	background-color: #F5F5F5;
	margin-top: 30%;
	text-align: center;
}
.contentBox .content{
	margin-top: 10px;
	margin-bottom: 10px;
}
.contentBox .content-button{
	margin-bottom: 10px;
}
#content-div{
}