<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Blog</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.BlogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Blog4Android</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.Blog4AndroidServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Reply</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.ReplyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClearCache</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.ClearCacheServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Calendars</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.CalendarServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BlogType</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.BlogTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Friends</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.FriendsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUpload</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>File</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.FileDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Rss</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.RssServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ad</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.AdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Spider</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.SpiderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadFile</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.UploadFileServlet</servlet-class>
		<init-param>
			<param-name>savePath</param-name>
			<param-value>/kindeditor/attached</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Blog</servlet-name>
		<url-pattern>/blog/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Blog4Android</servlet-name>
		<url-pattern>/blog4Android/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Reply</servlet-name>
		<url-pattern>/reply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClearCache</servlet-name>
		<url-pattern>/clearCache</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Calendars</servlet-name>
		<url-pattern>/calendars</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BlogType</servlet-name>
		<url-pattern>/blogType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Friends</servlet-name>
		<url-pattern>/friends</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadFile</servlet-name>
		<url-pattern>/uploadFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/fileUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>File</servlet-name>
		<url-pattern>/file/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ad</servlet-name>
		<url-pattern>/ad/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Spider</servlet-name>
		<url-pattern>/spider/*</url-pattern>
	</servlet-mapping>
	<!--
			<servlet-mapping>
			<servlet-name>Rss</servlet-name>
			<url-pattern>/rss/*</url-pattern>
		</servlet-mapping>
		-->
	<!-- 
		<servlet>
		  <servlet-name>mailhandler</servlet-name>
		  <servlet-class>com.google.choujone.blog.servlet.MailHandlerServlet</servlet-class>
		</servlet>
		<servlet-mapping>
		  <servlet-name>mailhandler</servlet-name>
		  <url-pattern>/_ah/mail/*</url-pattern>
		</servlet-mapping>
		<security-constraint>
		  <web-resource-collection>
			<url-pattern>/_ah/mail/*</url-pattern>
		  </web-resource-collection>
		  <auth-constraint>
			<role-name>admin</role-name>
		  </auth-constraint>
		</security-constraint>
		-->
	<!--_ah_sessioncleanup -->
	<servlet> 
		<servlet-name>_ah_sessioncleanup</servlet-name> 
		<servlet-class>com.google.apphosting.utils.servlet.SessionCleanupServlet</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>_ah_sessioncleanup</servlet-name>
		<url-pattern>/_ah/sessioncleanup</url-pattern> 
	</servlet-mapping> 
	<security-constraint> 
		<web-resource-collection> 
			<web-resource-name>session-cleanup</web-resource-name> 
			<url-pattern>/_ah/sessioncleanup</url-pattern> 
		</web-resource-collection> 
		<auth-constraint> 
			<role-name>admin</role-name> 
		</auth-constraint> 
	</security-constraint> 
	<!-- end _ah_sessioncleanup -->
	<filter>   
		<filter-name>SetCharacterEncoding</filter-name>   
		<filter-class>com.google.choujone.blog.filter.SetCharacterEncodingFilter</filter-class>   
		<init-param>   
			<param-name>encoding</param-name>   
			<param-value>UTF-8</param-value>   
		</init-param>   
	</filter>   

	<filter>   
		<filter-name>WebFilter</filter-name>   
		<filter-class>com.google.choujone.blog.filter.WebFilter</filter-class>   
	</filter>   
	
	<filter>   
		<filter-name>AdminFilter</filter-name>   
		<filter-class>com.google.choujone.blog.filter.AdminFilter</filter-class>   
	</filter>   
	<filter-mapping>   
		<filter-name>SetCharacterEncoding</filter-name>   
		<url-pattern>/*</url-pattern>   
	</filter-mapping> 
	<filter-mapping>   
		<filter-name>WebFilter</filter-name>   
		<url-pattern>/*</url-pattern>   
	</filter-mapping> 
	<filter-mapping>   
		<filter-name>AdminFilter</filter-name>   
		<url-pattern>/admin/*</url-pattern>   
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>   
		<error-code>404</error-code>   
		<location>/error.jsp</location>   
	</error-page>
	<error-page>   
		<error-code>500</error-code>   
		<location>/error.jsp</location>   
	</error-page>
	<servlet>
		<servlet-name>mailhandler</servlet-name>
		<servlet-class>com.google.choujone.blog.servlet.MailHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mailhandler</servlet-name>
		<url-pattern>/_ah/mail/*</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/_ah/mail/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<!--
		<session-config> 
		  <session-timeout>60</session-timeout>
		</session-config> 
		-->
	<!--The old Login api,has been scrapped -->
	<!-- 
		 <servlet>
		  <servlet-name>SystemServiceServlet</servlet-name>
		  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		  <init-param>
		   <param-name>services</param-name>
		   <param-value/>
		  </init-param>
		 </servlet>
		 <servlet-mapping>
		  <servlet-name>SystemServiceServlet</servlet-name>
		  <url-pattern>/_ah/spi/*</url-pattern>
		 </servlet-mapping>
		 -->
	<!-- 
		  <security-constraint>
				<web-resource-collection>
					<url-pattern>/admin/*</url-pattern>
				</web-resource-collection>
				<auth-constraint>
					<role-name>admin</role-name>
				</auth-constraint>
			</security-constraint>
		 -->
</web-app>