<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="eclipseftp.contribution1"
            objectClass="org.eclipse.core.runtime.IAdaptable">
         <menu
               label="FTP"
               path="additions"
               id="eclipseftp.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="eclipseftp.popup.actions.UploadAction"
               id="eclipseftp.UploadAction"
               icon="icons/upload.png"
               label="上传到服务器"
               menubarPath="eclipseftp.menu1/group1">
         </action>
         <action
               class="eclipseftp.popup.actions.AddServerAction"
               id="eclipseftp.AddServerAction"
               icon="icons/setting.png"
               label="服务器设置"
               menubarPath="eclipseftp.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
