@CHARSET "UTF-8";

/* tabs_35_banner */
.tabs_35_banner {
	height: 35px;
	line-height: 35px;
	float: left;
}

.tabs_35_banner .tabs_35_banner_left {
	float: left;
	height: 35px;
	width: 10px;
	background-image: url("/iadve/skins/default/images/tabs_03.png");
}

.tabs_35_banner .tabs_35_banner_right {
	float: left;
	height: 35px;
	width: 10px;
	background-image: url("/iadve/skins/default/images/tabs_07.png");
}

.tabs_35_banner .tabs_35_banner_center {
	float: left;
	height: 35px;
	background-image: url("/iadve/skins/default/images/tabs_05.png");
	background-repeat: repeat-x;
}

/* tabs_30_banner */
.tabs_30_banner {
	height: 30px;
	line-height: 30px;
	float: left;
}

.tabs_30_banner .tabs_30_banner_left {
	float: left;
	height: 30px;
	width: 10px;
	background-image: url("/iadve/skins/default/images/tabs_10.png");
	background-repeat: no-repeat;
}

.tabs_30_banner .tabs_30_banner_right {
	float: left;
	height: 30px;
	width: 10px;
	background-image: url("/iadve/skins/default/images/tabs_14.png");
	background-repeat: no-repeat;
}

.tabs_30_banner .tabs_30_banner_center {
	float: left;
	height: 30px;
	background-image: url("/iadve/skins/default/images/tabs_12.png");
	background-repeat: repeat-x;
}

/* tabs_215_context */
.tabs_215_context {
	height: 215px;
	line-height: 25px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.tabs_215_context .tabs_215_context_left {
	float: left;
	height: 215px;
	width: 10px;
	background-image: url("/admin/manager/images/tabs_23.png");
	background-repeat: no-repeat;
}

.tabs_215_context .tabs_215_context_right {
	float: left;
	height: 215px;
	width: 10px;
	background-image: url("/admin/manager/images/tabs_28.png");
	background-repeat: no-repeat;
}

.tabs_215_context .tabs_215_context_center {
	float: left;
	height: 215px;
	background-image: url("/admin/manager/images/tabs_25.png");
	background-repeat: repeat-x;
}

/* tabs_150_context */
.tabs_150_context {
	height: 150px;
	line-height: 25px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.tabs_150_context .tabs_150_context_left {
	float: left;
	height: 150px;
	width: 10px;
	background-image: url("/admin/manager/images/tabs_52.png");
	background-repeat: no-repeat;
}

.tabs_150_context .tabs_150_context_right {
	float: left;
	height: 150px;
	width: 10px;
	background-image: url("/admin/manager/images/tabs_55.png");
	background-repeat: no-repeat;
}

.tabs_150_context .tabs_150_context_center {
	float: left;
	height: 150px;
	background-image: url("/admin/manager/images/tabs_50.png");
	background-repeat: repeat-x;
}

.tabs_150_context_center_li {
}

.tabs_150_context_center_li ul {
	list-style: none;
	margin-left: -45px;
	margin-top: -3px;
}

.tabs_150_context_center_li ul li {
	display: inline;
	margin: 0px 5px 5px 5px;
}
.tabs_toolBar{
	margin-bottom: 10px;
}